@font-face {
  font-family: "HurmeGeometric3-Black";
  src: url("./fonts/HurmeGeometricSans3-Black.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "HurmeGeometric3-Bold";
  src: url("./fonts/HurmeGeometricSans3-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "HurmeGeometric3-Regular";
  src: url("./fonts/HurmeGeometricSans3-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
#es-rc-content.es-rc {
  font-family: "HurmeGeometricSans3-Regular", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  max-width: 920px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #fff;
}
#es-rc-content.es-rc html,
#es-rc-content.es-rc body {
  margin: 0;
  padding: 0;
}
#es-rc-content.es-rc * {
  box-sizing: border-box;
}
#es-rc-content.es-rc h2,
#es-rc-content.es-rc h3,
#es-rc-content.es-rc h4,
#es-rc-content.es-rc h5 {
  font-family: "HurmeGeometricSans3-Regular", sans-serif;
  color: #fff;
}
#es-rc-content.es-rc .es-kv {
  background-color: #75a7ad;
}
#es-rc-content.es-rc .es-kv__container {
  padding: 16px;
  background-color: #75a7ad;
}
#es-rc-content.es-rc .es-kv__logo {
  padding: 32px 0;
}
#es-rc-content.es-rc .es-kv__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-rc-content.es-rc .es-kv__img--logo {
  max-width: 300px;
}
#es-rc-content.es-rc .es-kv__img--mobile {
  max-width: 250px;
}
#es-rc-content.es-rc .es-kv__img--desktop {
  display: none;
}
#es-rc-content.es-rc .es-kv__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: #005d6e;
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
  font-weight: bold;
  font-size: 72px;
  letter-spacing: -4px;
  text-align: center;
}
#es-rc-content.es-rc .es-kv__subtitle {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
  font-size: 32px;
  padding: 16px 0;
  text-transform: uppercase;
  text-align: center;
}
#es-rc-content.es-rc .es-kv__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: #fff;
  font-family: inherit;
  font-weight: inherit;
  font-size: 16px;
  text-align: center;
  padding: 0 16px 32px;
}
#es-rc-content.es-rc .es-kv__footer {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: #fff;
  font-family: inherit;
  font-weight: inherit;
  font-size: 16px;
  text-align: center;
  padding: 0 16px 32px;
}
#es-rc-content.es-rc .es-kv__packshot {
  margin: 24px 0;
}
#es-rc-content.es-rc .es-eco__container {
  padding: 32px 16px;
  background-color: #1c3453;
}
#es-rc-content.es-rc .es-eco__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: #fff;
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
  font-size: 42px;
  text-align: center;
  margin-bottom: 48px;
  letter-spacing: -1px;
  text-transform: uppercase;
}
#es-rc-content.es-rc .es-eco__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: #fff;
  font-family: "Hurme Geometric 3-Regular";
  font-size: 16px;
  text-align: center;
  margin-top: 32px;
}
#es-rc-content.es-rc .es-eco__text--span {
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
  font-size: 22px;
}
#es-rc-content.es-rc .es-eco__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-rc-content.es-rc .es-eco__footer {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: #fff;
  font-family: "Hurme Geometric 3-Regular";
  font-size: 12px;
  text-align: center;
  padding-bottom: 128px;
}
#es-rc-content.es-rc .es-art {
  background-color: #75a7ad;
}
#es-rc-content.es-rc .es-natural__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
#es-rc-content.es-rc .es-natural__single {
  width: 300px;
  margin-bottom: 8px;
  padding-inline: 8px;
}
#es-rc-content.es-rc .es-natural__number {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: #d1cec6;
  font-family: "HurmeGeometricSans3-Black", sans-serif;
  font-size: 20px;
  text-align: center;
}
#es-rc-content.es-rc .es-natural__container {
  padding: 32px 16px;
  background-color: #eeeae5;
}
#es-rc-content.es-rc .es-natural__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: #1c3453;
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
  font-size: 42px;
  text-align: center;
  margin-bottom: 16px;
  letter-spacing: -1px;
  text-transform: uppercase;
}
#es-rc-content.es-rc .es-natural__subtitle {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: #1c3453;
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
  font-size: 36px;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 48px;
  letter-spacing: -1px;
}
#es-rc-content.es-rc .es-natural__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  padding: 16px;
}
#es-rc-content.es-rc .es-natural__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: #d1cec6;
  font-family: "Hurme Geometric 3-Regular";
  font-size: 16px;
  text-align: center;
  margin: 16px 0;
}
#es-rc-content.es-rc .es-eco {
  background: #13294b;
}
#es-rc-content.es-rc .es-taste__container {
  background-color: #1c3453;
}
#es-rc-content.es-rc .es-taste__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: #fff;
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
  font-size: 42px;
  text-align: center;
  margin-bottom: 16px;
  letter-spacing: -1px;
  text-transform: uppercase;
}
#es-rc-content.es-rc .es-taste__subtitle {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: #fff;
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
  font-size: 42px;
  text-align: center;
  padding: 48px 16px;
  letter-spacing: -1px;
}
#es-rc-content.es-rc .es-taste__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-rc-content.es-rc .es-taste__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: #fff;
  font-family: "Hurme Geometric 3-Regular";
  font-size: 16px;
  text-align: center;
  margin-inline: 16px;
  margin-bottom: 64px;
}
#es-rc-content.es-rc .es-art__container {
  background-color: #75a7ad;
  padding: 48px 16px;
}
#es-rc-content.es-rc .es-art__subtitle {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: #fff;
  font-family: "HurmeGeometricSans3-Black", sans-serif;
  font-size: 32px;
  text-align: center;
}
#es-rc-content.es-rc .es-art__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: #fff;
  font-family: "Hurme Geometric 3-Regular";
  font-size: 32px;
  text-align: center;
  margin-inline: 16px;
}
#es-rc-content.es-rc .es-coctails {
  background-color: #d1cec6;
}
#es-rc-content.es-rc .es-cross__container {
  background-color: #1c3453;
  padding: 16px;
}
#es-rc-content.es-rc .es-cross__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: #fff;
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
  font-size: 28px;
  text-align: center;
  margin-bottom: 16px;
}
#es-rc-content.es-rc .es-cross__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-rc-content.es-rc .es-cross__img--logo {
  width: 200px;
}
#es-rc-content.es-rc .es-cross__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: #fff;
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
  font-size: 42px;
  text-align: center;
  margin-bottom: 22px;
}
@media screen and (min-width: 850px) {
  #es-rc-content.es-rc .es-kv {
    padding-top: 32px;
  }
  #es-rc-content.es-rc .es-kv__img--mobile {
    display: none;
  }
  #es-rc-content.es-rc .es-kv__img--desktop {
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0;
  }
  #es-rc-content.es-rc .es-kv__container {
    position: relative;
    min-height: 600px;
  }
  #es-rc-content.es-rc .es-kv__content {
    max-width: 636px;
    margin-left: 16px;
  }
  #es-rc-content.es-rc .es-kv__title {
    text-align: left;
    letter-spacing: -6px;
  }
  #es-rc-content.es-rc .es-kv__subtitle {
    text-align: left;
    font-size: 40px;
    letter-spacing: -2px;
  }
  #es-rc-content.es-rc .es-kv__text {
    padding: 40px 0px 0px;
    text-align: left;
    font-size: 28px;
    margin-left: 10px;
  }
  #es-rc-content.es-rc .es-kv__footer {
    padding: 32px 64px 96px;
  }
  #es-rc-content.es-rc .es-kv__img--logo {
    margin-left: 0;
  }
  #es-rc-content.es-rc .es-kv__logo {
    padding: 0;
  }
  #es-rc-content.es-rc .es-kv .es-eco__text {
    margin-inline: 64px;
  }
  #es-rc-content.es-rc .es-natural__single {
    padding-inline: 16px;
    max-width: 220px;
  }
  #es-rc-content.es-rc .es-natural__content {
    align-items: flex-start;
    flex-flow: row;
    gap: 32px;
  }
  #es-rc-content.es-rc .es-taste__text {
    margin-inline: 96px;
  }
}
@keyframes es-pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 #1c3453;
    border-radius: 50%;
  }
  66% {
    transform: scale(1.1);
    box-shadow: 0 0 0 15px rgba(208, 230, 185, 0);
    border-radius: 50%;
  }
  to {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(208, 230, 185, 0);
    border-radius: 50%;
  }
}/*# sourceMappingURL=style.css.map */